<aside id="leftmenu">
    <img src="https://mariemzaouali.github.io/assets/img/logo.png" />
    <header>
        <h4 style="text-align: center;">Explorez nos cakes</h4>
    </header>
    <input type="search" class="searchbox" placeholder="Search our store" />
    <ul>
        <li><a href="#">Tous</a></li>
        <li><a href="#">Cheese cakes</a></li>
        <li><a href="#">Tartes</a></li>
        <li><a href="#promos">Promotions</a></li>
    </ul>
    <button (click)="save()" type="button">J'aime</button>
    <span id="favorite">{{ favoriteMessage }}</span>
</aside>
